<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragments/layout}">
<!--    #1. layout 렌더링    -->
<head lang="ko">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <div layout:fragment="content">
   		<div th:if="${success}" class="alert alert-info alert-dismissible fade show" role="alert">
            <span th:text="${success}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
      <h3 class="card-header">MBTI QUEST BOARD</h3>
      <table class="table table-striped table-bordered table-hover">
         <caption>mbti</caption>
         <thead>
            <tr>
               <th scope="col">NO</th>
               <th scope="col">TITLE</th>
               <th scope="col">NAME</th>
               <th scope="col">DATE</th>
               <th scope="col">HIT</th>
            </tr>
         </thead>
         <tbody> 
			<tr th:each= "dto , i : ${list}">
				<td th:text="${paging.listtotal - ((paging.current-1) * paging.onepagelist) - i.index}"></td>
				<td>
					<a  th:text="${dto.btitle}"
                     th:href="@{/board/detail(id=${dto.id})}">
                  </a>
				</td>
				<td th:text="${dto.appUserId}"></td>
				<td th:text="${dto.createdAt}"></td>
				<td th:text="${dto.bhit}"></td>
			</tr>
         </tbody>
      </table>
      <!-- UtilPaging(listtotal=128, onepagelist=10, pagetotal=13, bottomlist=10, pstartno=0, current=2, start=1, end=10) -->
      <nav th:if="${paging!=null}" aria-label="Page navigation">
      	<ul class="pagination justify-content-center">
			<!-- <li  th:text="${paging}"></li> -->
			<li class="page-item" th:if="${paging.start > 1}">
				<a class="page-link"
					th:href="@{/board/list(pageNo=${paging.start - paging.bottomlist})}">이전</a>
			</li>
			<li class="page-item"
				th:each="pageNum :${#numbers.sequence(paging.start, paging.end)}"
				th:classappend="${pageNum == paging.current} ? 'active' "
			>
				<a 	class="page-link"
					th:href="@{/board/list(pageNo=${pageNum})}"
					th:text="${pageNum}"></a>
			</li>
			<li class="page-item" th:if="${paging.end < paging.pagetotal}">
				<a class="page-link"
					th:href="@{/board/list(pageNo=${paging.start + paging.bottomlist})}">다음</a>
			</li>
      	</ul>
      </nav>
      
      
      
      <p class="text-end">
         <a th:href="@{/board/write}"
            class="btn btn-primary">글쓰기</a>
      </p>
      <p class="text-end alert alert-primary">로그인을 하면 글쓰기가능합니다.</p>
      
		<!-- 검색 part -->      
		<!-- 검색 part -->       
		<div class="mb-3 mt-3 alert alert-primary">
		  <label for="search" class="form-label">SEARCH</label>
		  <input type="search" class="form-control" id="search" placeholder="검색어를 입력해주세요" name="search">
		
		  <div id="resultArea">
		    <table class="table table-striped table-bordered table-hover my-3">
		      <caption>검색 결과</caption>
		      <thead>
		        <tr>
		          <th scope="col">NO</th>
		          <th scope="col">TITLE</th>
		          <th scope="col">NAME</th>
		          <th scope="col">DATE</th>
		          <th scope="col">HIT</th>
		        </tr>
		      </thead>
		      <tbody>
		        <!-- AJAX 결과가 여기에 들어감 -->
		      </tbody>
		    </table>
		    <!-- 페이징 버튼 영역 -->
		    <div id="pagingArea" class="mt-2 text-center"  ></div>
		  </div>
		</div>
		<script>
		$(function(){
			//#1. 검색어 입력이벤트
			$("#search").on("keyup", function(){
				let keyword = $(this).val().trim();
				
				if(keyword === ""){
					$("#resultArea tbody")
						.empty()
						.append("<tr><td colspan='5'>검색어를 입력해주세요.</td></tr>");
					
					$("pagingArea").empty();
				}
				else{ loadPage(keyword, 1); }
			});
			//#2. 페이징처리
			function loadPage(keyword, pageNo){
				$.ajax({
					url:"search",
					type:"GET",
					data:{keyword : keyword, pageNo : pageNo},
					success:function(res){
						//console.log(res);
						$("#resultArea tbody").empty();
						$.each( res.list, function( index, dto ){
							let no = res.paging.listtotal - ((res.paging.current-1) * res.paging.onepagelist) - index;
							let row = `
								<tr>
									<td>${no}</td>
									<td><a href="detail?id=${dto.id}">${dto.btitle}</a></td>
									<td>${dto.appUserId}</td>
									<td>${dto.createdAt}</td>
									<td>${dto.bhit}</td>
								</tr>
							`; //템플릿리터럴
							
							$("#resultArea tbody").append(row);
						});
						//2. 페이징 버튼
						let pagingHtml = "";
						
						if( res.paging.start > 1 ){
							pagingHtml += 
								`<button class="btn btn-sm btn-outline-primary pageBtn" data-page="${res.paging.start-1}">이전</button>`;
						}
						
						for(let i=res.paging.start ; i <= res.paging.end; i++){
							const active = i === res.paging.current ? "btn-primary" : "btn-outline-primary";
							pagingHtml += `<button class="btn btn-sm ${active} pageBtn" data-page="${i}">${i}</button>`;
						}
						
						if( res.paging.end < res.paging.pagetotal ){
							pagingHtml += 
								`<button class="btn btn-sm btn-outline-primary pageBtn" data-page="${res.paging.end+1}">다음</button>`;
						}
						
						$("#pagingArea").html(pagingHtml);
						
						//3. 동적요소에 버튼클릭 이벤트 위임.
						$(document).on("click", ".pageBtn", function(){
							const newPage = $(this).data("page");
							const keyword = $("#search").val();
							loadPage(keyword, newPage);
						});
					},
				});
			}
		});
		</script>
	</div>
	

   <!--    #2. layout:fragment="content"    -->
   <!--    http://localhost:8484/boot001/board/list -->
</body>
</html>