<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<bean id = "choco" class="com.thejoa703.ioc.Choco"/>
	

	<bean id="white" class="com.thejoa703.ioc.White"/>
	
	<bean id="shop" class="com.thejoa703.ioc.IceCreamShop">
	 	<property name="name" value="베라31"/>
	 	<property name="iceCream" ref="choco"/>
	 </bean>

</beans>
